<div class="logger">
  <form class="ui-filters" 
        [formGroup]="filterFormGroup"
        formUrlSync
        [controlSchema]="controlSchema">
    <mat-form-field>
      <mat-label>Account Id</mat-label>

      <input matInput formControlName="accountId" type="number" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Повідомлення</mat-label>

      <input matInput formControlName="title" />
    </mat-form-field>

    <app-date-range-picker formControlName="createdDateRange"></app-date-range-picker>

    <div
      [matBadge]="needFixCount()"
      [matBadgeHidden]="!needFixCount()"
      [title]="needFixCount()"
      matBadgeColor="warn"
      class="logger__need-fix-button"
    >
      <mat-button-toggle-group uiSingle formControlName="needToFix">
        <mat-button-toggle [value]="true">Не оброблено</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-button-toggle-group multiple formControlName="level">
      @for (level of ['error', 'warning', 'info']; track level) {
      <mat-button-toggle [value]="level">
        {{ level }}
      </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </form>

  @if (isLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  } @else {
  <p>Тут будуть дані</p>
  }
</div>
